.latest-title{
    padding:0px 20px 0px 20px;
}
.latest-marq{
    border: 1px solid gray;
   
}
.latest-data-line h5{
   margin-left: 25px;
    
}

.marquee-name{
    border:1px solid gray;
    height:35px;
}
.social-icon-top{
    margin-left:auto;
    padding-top:10px;
    
}
.header-top-menu.active{
    color:red !important;
    margin-left: 0 !important;
}
.header-top-menu{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    margin-left: 15px;
}
.header-top-menu:hover{
    color:red !important;
}