.d-sidebar{
  /* background: #fcf2e8; */
  padding-left: 16rem;
  margin:0px 20px 0px 20px;
}
header{
  position: fixed;
  top:0; left:0; bottom:0;
  background: #222;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  z-index:1000;
  flex-flow: column;
  padding:2rem 2rem;
 
}
header .logo{
  text-transform: uppercase;
  color:#fff;
  font-size:  2rem;
  font-weight: bolder;
}
header .d-navbar .link{
  display: block;
  font-size: 20px;
  color:#fff;
  margin:1rem 0;
  /* line-height: 20px; */
  
}
header .d-navbar{
  margin-top: 30px;
}
header .d-navbar .link:hover{
  /* letter-spacing: .1rem; */
  color:gold;
}

/* @media (max-width:750) {
  header{
    display: none !important;
  }
} */
@media (max-width: 768px) { 
  header{
    display: none;
  }
  .d-sidebar{
    /* background: #fcf2e8; */
    padding-left: 0px;
    margin:0px 20px 0px 20px;
  }
 }